body{
    padding: 0%;
    margin: 0%;
    background-color: rgb(230, 230, 230);
}

p {
    font-size: 14x; 
}

header{
    padding: 0%; 
    margin: 0%;
    background-color:rgb(214, 214, 214);
}

h1 {
    display: inline-block;
    background-color:rgb(153, 153, 153);
    padding: 10px 10px 10px 15px;
}

nav {
    padding: 15px 0px 0px 0px;
    float: right;
}

nav ul {
    list-style-type: none;

}

nav ul li {
    display: flex;
    flex-wrap: nowrap;
    display: inline-block;
    margin-right: 25px;
    text-align: right;
    text-decoration: underline;

}

p {
    text-align: left;
    padding-left: 10px;
    border: none;
}

img {
    display: flex;
    max-width: 100%;
}


figure {
    display: flex;
    width: 100%;
    padding: 0% 0% 3% 0%;
    margin: 0%;
}

.banner {
    display: flex;
    width: 100%;
    height; auto;
    padding: 0%;
    margin: 0%;
    border: 0px;
  
}

section{
    display: flex;
    flex-direction: row;
    border: none;
  }

aside {
    flex: 0 0 25%;
    border-right: solid black 1px;
    margin: 10px;
    padding-top: 10px;
    padding-right: 5px;
    text-align: right;
    font-size: 18px;
    font-variant: small-caps;
}

  .column {
    flex-direction: row;
    flex: 1 1 0;
    flex-wrap: wrap;
    margin: 10px;
    text-align: left;
  }

  