body {
    padding         : 0%;
    margin          : 0%;
    background-color: white;
}

p {
    font-size   : 14x;
    margin-right: 25px;
    max-width   : 100%;
}

h1 {
    display         : inline-block;
    background-color: rgb(62, 220, 255);
    color           : rgb(55, 55, 55);
    padding         : 10px 10px 10px 15px;
}

h2 {
    text-align  : right;
    margin-right: 15px;
}

section {
    display       : flex;
    flex-direction: row;
    border        : none;
    flex-basis    : 100%;
    align-content: center;
}

nav {
    display    : flex;
    padding-top: 15px;
    float      : right;
}

nav ul {
    list-style-type: none;
    display        : flex;
    flex-direction : row;
}

nav ul li {
    display        : flex;
    flex-wrap      : wrap;
    flex-direction : row;
    text-align     : right;
    margin-right   : 25px;
    text-decoration: underline;
    max-width      : 25%;
}

img {
    display       : flex;
    flex-direction: row;
    max-width     : 100%;
}

.top-spot {
    display       : flex;
    flex-direction: row;
    flex          : 1 1 100%;
    outline       : 5px solid rgb(62, 220, 255);
}

.gallery {
    display          : flex;
    flex-direction   : row;
    flex-basis       : 50%;
    /* flex-shrink   : 0; */
    /* flex-grow     : 1; */
    /* display       : inline-block; */
    max-width        : 33%;
    outline          : 5px solid rgb(62, 220, 255);
    outline-offset   : -5px;
}

.banner {
    display       : flex;
    width         : 100%;
    height        : auto;
    padding-bottom: 15px;
    margin        : 0%;
    border        : 0px;
}

.label {
    display     : flex;
    flex-basis  : 23%;
    border-right: solid rgb(62, 220, 255) 2px;
    margin      : 10px;
    padding-top : 10px;
    padding-left: 5px;
    font-size   : 18px;
    font-variant: small-caps;
    text-align  : right;
}


.content-column {
    display        : flex;
    flex-direction : column;
    flex-basis     : 70%;
    justify-content: stretch;
}
