body{
    margin: 10px;
    background-color: rgb(215, 255, 255);
}

header{
    padding: 2%; 
}

h1 {
    display: inline-block;
}

nav {
    padding: 25px;
    float: right;

}

nav ul {
    list-style-type: none;

}

nav ul li {
    display: inline-block;
    margin-right: 25px;
    text-align: right;

}

p {
    margin: 7px;
    text-align: left;
    padding-left: 10px;
    border: none;
}


section{
    display: flex;
    flex-direction: row;
    margin: 10px;
    display: flex;
    border: none;
  }

aside {
    flex: 0 0 25%;
    border-right: solid black 1px;
    margin: 10px;
    padding-top: 10px;
    padding-right: 10px;
    text-align: right;
}

  .column {
    flex-direction: row;
    flex: 1 1 0;
    margin: 10px;
    border: solid black 1px;
    text-align: left;
  }